# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
build/

# Environment Variables
.env
.env.*
!env.sample

# Database
prisma/migrations/
prisma/*.db
prisma/*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
